html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(26, 26, 26);
}

.container_verifica {
  text-align: center;
  background-color: whitesmoke;
  color: black;
  border: solid 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.body input {
  border-radius: 10px;
  padding: 8px;
  margin-right: 8px;
}

.body button {
  border-radius: 10px;
  padding: 8px 16px;
}

.body button:hover {
  background-color: rgb(33, 73, 255);
  color: white;
}

.footer {
  margin-top: 30px;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  color: white;
}

h3 {
  font-size: 30px;
}
